@import 'tailwindcss';

@import '@fontsource-variable/fira-code';

@theme inline {
  --color-light: #faf8f5;
  --font-sans: 'Fira Code Variable', sans-serif;
  --font-mono: 'Fira Code Variable', monospace;
}

body {
  @apply m-0 bg-light;
  font-family: 'Fira Code Variable', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
